favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-mail-reader.desktop,exo-web-browser.desktop
recent=xfce4-screenshooter.desktop,easystroke.desktop,xfce4-terminal.desktop,opera.desktop,pamac-manager.desktop,sublime_text_3.desktop,GitKraken.desktop,jetbrains-idea.desktop,pavucontrol.desktop,vlc.desktop
button-title=Applications
button-icon=/home/jonathan/Images/icons/start-here monochrome light.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
menu-width=400
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=5

[action0]
name=Pages de manuel
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Recherche web
pattern=?
command=exo-open --launch WebBrowser https://duckduckgo.com/?q=%u
regex=false

[action2]
name=Wikipédia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action3]
name=Exécuter dans un terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action4]
name=Ouvrir l’emplacement
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

