! ===================
!       urxvt
! ===================

URxvt*scrollBar:	    false
URxvt*letterSpace:  	-1
URxvt.internalBorder: 10
URxvt*font: 		      xft:Menlo for Powerline:regular:size=11
URxvt*boldFont:		    xft:Menlo for Powerline:bold:size=11
URxvt*cursorBlink:    true
URxvt.iso14755:		    false
URxvt*utf8:			      true
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller

! =================
!       Xft
! =================
Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			      subpixel
Xft.hinting:       	true
Xft.hintstyle:		  hintslight
! Xft.lcdfilter:	  lcddefault

! ============
!   Couleurs
! ============
*secondary:  #444B6A
*active:     #C0CAF5

*.foreground:   #1E202E
*.background:   #1A1B26
*.cursorColor:  #C0CAF5
* fading: 20
*fadeColor: #5A638C

*.color0: #5A638C
*.color1: #DB4B4B
*.color2: #CAE797
*.color3: #F8CD7A
*.color4: #6183BB
*.color5: #BB9AF7
*.color6: #41A6B5
*.color7: #C0CAF5
*.color8: #5A638C
*.color9: #DB4B4B
*.color10: #9ECE6A
*.color11: #E0AF68
*.color12: #7AA2F7
*.color13: #BB9AF7
*.color14: #89DDFF
*.color15: #C0CAF5
