" IDEAVim settings
" Inspiration : https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

let mapleader = " "

" Base settings
set scrolloff=10
set showmode
set showcmd
set relativenumber
set visualbell
set ignorecase
set smartcase
set incsearch
set hlsearch
set surround
set highlightedyank
set sneak
" set easymotion
set ideajoin
set commentary
set matchpairs+=<:>
set matchit
set timeoutlen=2000
set functiontextobj

" File navigation
nmap <leader>f <action>(GotoFile)
nmap <leader>e <action>(RecentFiles)
" nmap <leader>fr <action>(RecentFiles)
" map <leader>f <Plug>(easymotion-s)
" map <leader>e <Plug>(easymotion-f)

" Quick configuration edit
noremap <leader>cc :edit ~/.ideavimrc<CR>
noremap <leader>cs :source ~/.ideavimrc<CR>

" Remove search highlights on escape
" noremap <Esc> :nohlsearch<CR>

" Navigation inside a file
map <Leader>gr :action GotoSymbol<CR>
map <Leader>gm :action FileStructurePopup<CR>
nmap gpf [m<CR>
nmap <leader>* viwy \| :%s/\<<c-r>+\>//g<left><left>
map ge :action GotoNextError<CR>
nnoremap <leader>sr :%s/<C-R><C-W>//g<Left><Left>

" Navigation between window
map <C-Right> <C-w>l
map <C-Left> <C-w>h

" Surround
vmap <leader>ss :action SurroundWithEmmet<CR>
nmap <leader>ss ^vg_:action SurroundWithEmmet<CR>

xnoremap r y:%s/<C-r>0//gc<Left><Left><Left>
