! ===================
!       urxvt
! ===================

URxvt*scrollBar:	    false
URxvt*letterSpace:  	-1
URxvt.internalBorder: 10
URxvt*font:           xft:JetBrainsMono Nerd Font:regular:size=11
URxvt*boldFont:       xft:JetBrainsMono Nerd Font:bold:size=11
!URxvt*font: 		      xft:Menlo for Powerline:regular:size=11
!URxvt*boldFont:		    xft:Menlo for Powerline:bold:size=11
URxvt*cursorBlink:    true
URxvt.iso14755:		    false
URxvt*utf8:			      true
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-parenright: resize-font:smaller

! =================
!       Xft
! =================
Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			      subpixel
Xft.hinting:       	true
Xft.hintstyle:		  hintslight
! Xft.lcdfilter:	  lcddefault

! =================
!       Scaling
! =================
*dpi: 150
Xft.dpi: 150

! ============
!   Couleurs
! ============
*secondary:  #444B6A
*active:     #C0CAF5

*.foreground:   #C0CAF5
*.background:   #1A1B26
*.cursorColor:  #C0CAF5
* fading: 20
*fadeColor: #5A638C

*.color0:                #6878A6
*.color8:                #5d6791
*.color1:                #DB4B4B
*.color9:                #A6333F
*.color2:                #9ECE6A
*.color10:               #9ECE6A
*.color3:                #E0AF68
*.color11:               #BBA461
*.color4:                #7AA2F7
*.color12:               #6D91DE
*.color5:                #BB9AF7
*.color13:               #9D7CD8
*.color6:                #41A6B5
*.color14:               #449DAB
*.color7:                #C0CAF5
*.color15:               #9AA5CE
