[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[D4B47FA4B47F87AE]
row=2
col=0

[1714-3F11]
row=0
col=0

[C4AAA47DAAA46E1C]
row=6
col=0

[C630778730777CED]
row=1
col=0

[Corbeille]
row=3
col=0

[/]
row=4
col=0

[/home/jonathan]
row=5
col=0

