* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 4px;
    margin: 0px;
    padding: 0px;
    border: none;
}

window#waybar {
    background: #1A1B26;
    color: #C0CAF5;
}

big {
    color: #7AA2F7;
}

#workspaces button,
#workspaces button:hover {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #1A1B26;
    color: #444B6A;
    border-radius: 0;
}

#workspaces button.visible {
    color: #C0CAF5;
}

#workspaces button.active {
    background-color: #2f3344;
}

#workspaces button.special,
#workspaces button.urgent {
    color: #DB4B4B;
}

#cpu {
    color: #9D7CD8;
    padding-left: 5px;
    padding-right: 5px;
}

#memory {
    color: #449DAB;
    padding-left: 5px;
    padding-right: 5px;
}

#custom-media {
    color: #9ECE6A;
}

#custom-gpu {
    color: #7AA2F7;
}

#custom-shutdown {
    margin-right: 10px;
    color: #A6333F;
}


.colors {
    color: #6878A6;
    color: #5d6791;
    color: #DB4B4B;
    color: #A6333F;
    color: #9ECE6A;
    color: #9ECE6A;
    color: #E0AF68;
    color: #BBA461;
    color: #7AA2F7;
    color: #6D91DE;
    color: #BB9AF7;
    color: #9D7CD8;
    color: #41A6B5;
    color: #449DAB;
    color: #C0CAF5;
    color: #9AA5CE;
}
