[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[C630778730777CED]
row=2
col=0

[2015-04-07-15-44-50-00]
row=0
col=0

[D4B47FA4B47F87AE]
row=3
col=0

[Corbeille]
row=4
col=0

[/]
row=5
col=0

[/home/jonathan]
row=6
col=0

